<a href="https://colab.research.google.com/github/WangKehanK/CS505/blob/main/Twitter%20User%20Age%20and%20Gender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction on age, gender with M3 inference

m3inference

https://github.com/euagendas/m3inference#existing-json-twitter-data

In [1]:
!pip install m3inference

Collecting m3inference
  Downloading https://files.pythonhosted.org/packages/ea/88/df1f455fd29addf4efe6b6fab346b214ccab33144fa94b8efbf5d874a732/m3inference-1.1.4-py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 3.1MB/s
Requirement already satisfied: torchvision>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from m3inference) (0.9.1+cu101)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.7/dist-packages (from m3inference) (1.19.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from m3inference) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from m3inference) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from m3inference) (2.23.0)
Collecting rauth
  Downloading https://files.pythonhosted.org/packages/43/aa/7c8e852275394d65ac5bf3ac9945ecaafe4d083089e09cb0a267efea389a/rauth-0.7.3.tar.gz
Requirement already satisfied: pandas>=0.20 in /usr/local/lib/python3.7/dist-packages (from m3inference) (1.1.5)
Collecting pycld2>=0.31
  Downloading https://files.pythonhosted.org/packages/21/d2/8b0def84a53c88d0eb27c67b05269fbd16ad68df8c78849e7b5d65e6aec3/pycld2-0.41.tar.gz (41.4MB)
     |████████████████████████████████| 41.4MB 83kB/s
Requirement already satisfied: torch>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from m3inference) (1.8.1+cu101)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->m3inference) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->m3inference) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->m3inference) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->m3inference) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->m3inference) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->m3inference) (2.8.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.0.0->m3inference) (3.7.4.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.20->m3inference) (1.15.0)
Building wheels for collected packages: rauth, pycld2
  Building wheel for rauth (setup.py) ... done
  Created wheel for rauth: filename=rauth-0.7.3-cp37-none-any.whl size=16055 sha256=2aef011934958a8efe4c1e042dd37f902335b8b4e53b06652a94513368a6970f
  Stored in directory: /root/.cache/pip/wheels/7b/94/5d/81afc278dd5da884a0002563dc4b0fe85f9067a5a40f76f858
  Building wheel for pycld2 (setup.py) ... done
  Created wheel for pycld2: filename=pycld2-0.41-cp37-cp37m-linux_x86_64.whl size=9834249 sha256=336e4c921c35d10bd544b40dc7c77b6c730c36b1bd0101ac73e0dd3b9a6d3cbe
  Stored in directory: /root/.cache/pip/wheels/c6/8f/e9/08a1a8932a490175bd140206cd86a3dbcfc70498100de11079
Successfully built rauth pycld2
Installing collected packages: rauth, pycld2, m3inference
Successfully installed m3inference-1.1.4 pycld2-0.41 rauth-0.7.3

In [2]:
import numpy as np
import pandas as pd
from m3inference import M3Twitter
import json
import os
import pprint

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Twitter_user_handles_to_predict.csv", encoding = "utf-8")
df_labeled = pd.read_csv("/content/drive/My Drive/Twitter_users_labeled_with_age_and_gender.csv", encoding = "latin-1")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25129 entries, 0 to 25128
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        25129 non-null  int64
 1   Username  25128 non-null  object
dtypes: int64(1), object(1)
memory usage: 392.8+ KB

In [7]:
df_labeled.head()

   Unnamed: 0      screen_name  ...  human.labeled.gender human.labeled.age
0           1    _____zac_____  ...                   NaN              23.0
1           2         ___aleia  ...                   NaN              19.0
2           3          ___Dals  ...                     F               NaN
3           4  ___schaeffer___  ...                   NaN              22.0
4           5   __andresiscool  ...                     M               NaN

[5 rows x 24 columns]

In [8]:
df.head()

   ID       Username
0   1     JayHolz410
1   2      kelechief
2   3     VicSpencer
3   4  ItsAlexDodson
4   5   xopinkvodka6

In [9]:
user_list = df['Username'].tolist()
id_list = df_labeled['user_id'].tolist()

In [10]:
username = user_list[0] # try one user first, we can loop over the entire user list to get all the user detail
m3cachedir = "drive/MyDrive/cachedir"

if not os.path.exists(m3cachedir):
  os.mkdir(m3cachedir)

with open(f'/content/{m3cachedir}/{username}.json', 'w') as json_file:
  # initialization
  m3twitter=M3Twitter()

  # remember to upload Twitter API keys, format as https://github.com/euagendas/m3inference/blob/master/scripts/auth_example.txt
  m3twitter.twitter_init_from_file("/content/drive/MyDrive/auth.txt")

  # you can also use m3twitter.infer_id(id = "....")
  user_detail = m3twitter.infer_screen_name(username)

  # print the user detail
  pprint.pprint(user_detail)
  # save the user detail for future use
  json.dump(user_detail, json_file)

04/06/2021 05:24:23 - INFO - m3inference.m3inference -   Version 1.1.4
04/06/2021 05:24:23 - INFO - m3inference.m3inference -   Running on cpu.
04/06/2021 05:24:23 - INFO - m3inference.m3inference -   Will use full M3 model.
04/06/2021 05:24:24 - INFO - m3inference.m3inference -   Dir /root/m3/models/ does not exist. Creating now.
04/06/2021 05:24:24 - INFO - m3inference.m3inference -   Dir /root/m3/models/ created.
04/06/2021 05:24:24 - INFO - m3inference.m3inference -   Model full_model does not exist at /root/m3/models/full_model.mdl. Try to download it now.
04/06/2021 05:24:24 - INFO - m3inference.utils -   /root/m3/models/full_model.mdl not found in cache, downloading from https://nlp.stanford.edu/~zijwang/m3inference/full_model.mdl to /tmp/tmpshj6qltp
141007KB [01:42, 1373.95KB/s]
04/06/2021 05:26:07 - INFO - m3inference.utils -   Model full_model was downloaded to a tmp file.
04/06/2021 05:26:07 - INFO - m3inference.utils -   Copying tmp file to /root/m3/models/full_model.mdl.
04/06/2021 05:26:08 - INFO - m3inference.utils -   Copied tmp model file to /root/m3/models/full_model.mdl.
04/06/2021 05:26:08 - INFO - m3inference.utils -   Checking MD5 for model full_model at /root/m3/models/full_model.mdl
04/06/2021 05:26:08 - INFO - m3inference.utils -   MD5s match.
04/06/2021 05:26:08 - INFO - m3inference.m3inference -   Loaded pretrained weight at /root/m3/models/full_model.mdl
04/06/2021 05:26:08 - INFO - m3inference.m3twitter -   Dir /root/m3/cache does not exist. Creating now.
04/06/2021 05:26:08 - INFO - m3inference.m3twitter -   Dir /root/m3/cache created.
04/06/2021 05:26:09 - INFO - m3inference.m3twitter -   Results not in cache. Fetching data from Twitter for jayholz410.
04/06/2021 05:26:09 - INFO - m3inference.m3twitter -   GET /users/show.json?screen_name=jayholz410
04/06/2021 05:26:09 - WARNING - m3inference.m3twitter -   Could not retreive screen_name
04/06/2021 05:26:09 - WARNING - m3inference.m3twitter -   Could not retreive id_str
04/06/2021 05:26:09 - WARNING - m3inference.m3twitter -   Could not retreive description
04/06/2021 05:26:09 - WARNING - m3inference.m3twitter -   Could not retreive name
04/06/2021 05:26:09 - WARNING - m3inference.m3twitter -   Could not retreive profile_image_url
04/06/2021 05:26:09 - WARNING - m3inference.m3twitter -   Unable to extract image from Twitter. Using default image.
04/06/2021 05:26:09 - INFO - m3inference.dataset -   1 data entries loaded.
Predicting...: 100%|██████████| 1/1 [00:01<00:00,  1.25s/it]

{'input': {'description': '',
           'id': 'dummy',
           'img_path': '/usr/local/lib/python3.7/dist-packages/m3inference/data/tw_default_profile.png',
           'lang': 'un',
           'name': '',
           'screen_name': ''},
 'output': {'age': {'19-29': 0.2393,
                    '30-39': 0.0793,
                    '<=18': 0.1746,
                    '>=40': 0.5067},
            'gender': {'female': 0.2809, 'male': 0.7191},
            'org': {'is-org': 0.0873, 'non-org': 0.9127}}}

In [11]:
# Create new column to save the predicted value
df["gender"] = "male"

In [ ]:
# Loop over each row to assign the predict value, should be used with M3
for index, row in df.iterrows():
    # TODO: modify value here
    df.at[index, 'gender'] = 1